<form {{action 'save' on='submit'}}>
  {{#if errorMessage}}
    <h2 class="white bg-red p1">{{errorMessage}}</h2>
  {{/if}}
  <label>Select an Article</label>
  <select class="select">
    <option value="">Article 1</option>
    <option value="">Article 2</option>
    <option value="">Article 3</option>
  </select>
  <br>
  {{textarea value=model.notes placeholder='Notes' class='textarea' cols='50' rows='10'}}
  <br>
  <button {{action 'cancel'}} class="btn border white bg-gray">Cancel</button>
  <button type='submit' class="btn border white bg-green">Save</button>
</form>